<br>
<div class="container-fluid">
    <div class="container-fluid bg-gris px-4">
        <br>
        <h1 class="text-primary">Login de Usuario</h1>
        <form id="loginForm">
            <h5 class="fst-italic font-weight-bold">Ingrese su email</h5>
            <input type="text" name="email" class="form-label"> 
            <br>
            <h5 class="fst-italic font-weight-bold">Ingrese su contraseña</h5>
            <input type="password" name="password" class="form-label"> 
            <br>
            <button type="submit" class="btn btn-success">Enviar</button>
        </form>
        <br>
    </div>
</div>