<br>
<div class="container-fluid">
    <div class="container-fluid bg-gris px-4">
        <br>
        <h1 class="text-primary">Registrese</h1>
        <form id="registerForm">
            <h5 class="fst-italic">Nombre</h5>
            <input type="text" name="name" class="form-label"> 
            <h5 class="fst-italic">Email</h5>
            <input type="text" name="email" class="form-label">
            <h5 class="fst-italic">Password</h5>
            <input type="password" name="password" class="form-label">
            <br>
            <br>
            <button type="submit" class="btn btn-success">Enviar</button>
        </form>
        <br>
    </div>
</div>